.pkp_block{
    width: 100%;
}

.homepage-announcements {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.page-content h2{
    margin-top: 0px;
}

.block_custom{
    background-color: #F7F7F7;
}

@media (min-width: 1200px){
    .container{
        max-width: 80%;
    }
}

.article-details-cover {
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
  }