.container-general-homepage{
    display: flex;
}

.container-homepage-issue{
    width: 70%;
}

.site-footer-sidebar{
    width: 30%;
}

.site-footer-sidebar .row {
    flex-direction: column;
  }

.pkp_block{
    width: 80%;
}